# Dependencies
**/node_modules/
**/node_modules/*
node_modules/

# Environment variables
.env
*.env

# Build artifacts
dist/
build/
*.log

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ChromaDB
chroma-data/
chromadb/
*.chromadb/
chroma

# Otros archivos de bases de datos vectoriales similares
*.sqlite
*.db
data