NODE_ENV="development"
PORT=8080
DEFAULT_LANGUAGE=es
DATABASE_HOST=localhost
DATABASE_DIALECT=mysql
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=telegram-bot
MONGODB_URI=mongodb://localhost:27017/telegram-bot
OPENAI_API_KEY=notelavoyadecir
OPENAI_ASSISTANT_CHATBOT_ID=notelavoyadecir
REDIS_URL=redis://localhost:6379
GOOGLE_EMAIL=notelavoyadecir
GOOGLE_CLIENT_ID=notelavoyadecir
GOOGLE_CLIENT_SECRET=notelavoyadecir
GOOGLE_REFRESH_TOKEN=notelavoyadecir
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura_aqui
API_URL=http://localhost:8080
EMAIL_TYPE=gmail
