NODE_ENV="development"
PORT=8080
DEFAULT_LANGUAGE=es

# Database Configuration
DB_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_DIALECT=mysql
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=telegram-bot
MONGODB_URI=mongodb://localhost:27017/telegram-bot

# Redis Configuration
REDIS_URL=redis://localhost:6379
SESSION_SECRET=tu_session_secret_muy_larga_y_segura_aqui

# JWT Configuration
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura_aqui

# OpenAI Configuration
OPENAI_API_KEY=notelavoyadecir
OPENAI_ASSISTANT_CHATBOT_ID=notelavoyadecir

# Telegram Bot Configuration (Admin)
TELEGRAM_ADMIN_TOKEN=notelavoyadecir
TELEGRAM_ADMIN_CHAT_ID=notelavoyadecir

# Telegram Bot Configuration (Customer)
TELEGRAM_CUSTOMER_BOT_TOKEN=notelavoyadecir
TELEGRAM_CUSTOMER_BOT_NAME=@YourBotName

# Email Configuration
EMAIL_TYPE=gmail
API_URL=http://localhost:8080

# Gmail Configuration (if EMAIL_TYPE=gmail)
GOOGLE_EMAIL=notelavoyadecir
GOOGLE_CLIENT_ID=notelavoyadecir
GOOGLE_CLIENT_SECRET=notelavoyadecir
GOOGLE_REFRESH_TOKEN=notelavoyadecir

# SMTP Configuration (if EMAIL_TYPE=smtp)
EMAIL=your-email@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_PASSWORD=your-email-password
